
.user-bdy{
    /* background-color:#F9D689;; */
    position: relative;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}
.contnr{
  width:100%;
  /* height:900px; */
  display: flex;
  flex-direction:row; 
  text-align-last: center;
  justify-content: center;
  padding:0px 170px 0px 170px;
  /* border:1px black solid; */
}
.container1{
  height: 600px;
  width: 600px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.cell {
  width: 40px;
  height: 40px;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.upper{
  display:flex;
  
}
.middle{
  display:flex;
  
}
.red{
  background-color: red;
  height: 240px;
  width: 240px;
}
.blue{
  background-color: blue;
  height: 240px;
  width: 240px;
}
.green{
  background-color: green;
  height: 240px;
  width: 240px;
}
.yellow{
  background-color: rgb(255, 208, 0);
  height: 240px;
  width: 240px;
}
.home{
  height: 120px;
  width: 120px;
  background-color: brown;
}
.topgrid {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(6, 40px);
  background-color: palegreen;

}

.middlegrid {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  background-color: palegreen;
  
}
.white{
  height: 160px;
  width: 160px;
  background-color: white;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.red1{
height: 40px;
width: 40px;
background-color: red;
border-radius: 50%;
}
.green1{
  height: 40px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
 }
 .blue1{
  height: 40px;
  width: 40px;
  background-color: blue;
  border-radius: 50%;
 }
 .yellow1{
  height: 40px;
  width: 40px;
  background-color: rgb(255, 208, 0);
  border-radius: 50%;
 }
.in{
  display: flex;
  justify-content: space-around;
}
.btn-cont{
  width:100%;   
  height:495px;
  display:grid;
  grid-gap: 291px;
}
/* .upper-btn{
  border:green 3px solid;
}

.lower-btn{
  border:yellow 3px solid;
} */
.btnn{
  /* border:5px rgba(0, 0, 0, 0.5) solid; */
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice-img{
  width:70px;
  height:70px;
}


#bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.user-ch-box{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
}
.ch-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  color: #f0f0f0; /* Light or white text color */
  text-align: center;
  text-transform: uppercase;
}

.ch-btn{
    margin-top: 10px;
    width:400px;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    display: block;
}
.ch-btn:hover {
  background: rgba(0, 0, 0, 0.7); /* Less transparent on hover */
  color: #f0f0f0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.ch-btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3), 0 0 80px rgba(255, 255, 255, 0.1);
}

#switch-container {
    margin: 1rem 0;
    margin-right: 30px;
    float: inline-end;
  }
  
  #sound-off-icon,
  #sound-on-icon {
    z-index: 0;
    position: absolute;
  }
  
  #sound-off-icon {
    top: 9px;
    right: 7px;
  }
  
  #sound-on-icon {
    top: .5rem;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch:before input { 
    content: "switch";
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  input:before {
    content: "input";
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);;  /* light gray */
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:  rgba(255, 255, 255, 0.5); /* blue */
  }
  
  input:focus + .slider {
    /* blue */
    box-shadow: 0 0 1px #2196F3; /* blue */
  }
  
  input:checked + .slider:before {
    content: "";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* give the button rounded edges */
  /* for square edges, remove these values */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* -----
  SVG Icons - svgicons.sparkk.fr
  ----- */
  
  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #fff;
  }
  
  .svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
  }
  .ludo-home{
  display: inline-block;
  justify-content: center;
    width: 100%;
    /* border: 1px red solid; */
    height: 600px;
    padding-left: 9%;
    padding-right: 9%;
  }
.dice-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width:90px;
  height:90px;
  border:5px rgba(0, 0, 0, 0.5) solid;
  border-radius: 20px;
}


  /* for responsive website */

  @media (min-width:600px) and (max-width: 768px) {
    .ch-heading{
  
      font-weight: 600;
      font-size: 38px;
    }
    .btns{
        width: 100%;
        height:130px;
        /* border: 1px green solid; */
      }
      .ludo-home{
          flex-direction: column;
          width: 95%;
          margin: 20px 0px 0px 2.5% ;
          height:900px;
          padding: 0;
      }
      .outer-box{
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 100px;
        grid-auto-rows: 300px;
      }
      .contnr{
        width:100%;
        height:695px;
        flex-direction:column; 
        padding:0;
       
      }
      .container1{
        height: 480px;
        width: 480px;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        margin-left: 90px;
      }
      .red{
        background-color: red;
        height: 192px;
        width: 192px;
      }
      .blue{
        background-color: blue;
        height: 192px;
        width: 192px;
      }
      .green{
        background-color: green;
        height: 192px;
        width: 192px;
      }
      .yellow{
        background-color: rgb(255, 208, 0);
        height: 192px;
        width: 192px;
      }
      .btn-cont{
        margin:0px; 
        height:100px;
        display:grid;
        grid-gap: 150px;
        grid-template-columns: 1fr 1fr;
      }
      .btnn{
        height:100px;
      }
      .topgrid {
        display: grid;
        grid-template-columns: repeat(3, 32px);
        grid-template-rows: repeat(6, 32px);
        background-color: palegreen;
      
      }
      
      .middlegrid {
        display: grid;
        grid-template-columns: repeat(6, 32px);
        grid-template-rows: repeat(3, 32px);
        background-color: palegreen;
      }    
      .white{
        height: 128px;
        width: 128px;
        background-color: white;
        margin-top: 32px;
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .home{
        height: 96px;
        width: 96px;
        background-color: brown;
      }
      
      .cell {
        width: 32px;
        height: 32px;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;}
        .red1{
          height: 32px;
          width: 32px;
          }
          .green1{
            height: 32px;
            width: 32px;
           }
           .blue1{
            height: 32px;
            width: 32px;
           }
           .yellow1{
            height: 32px;
            width: 32px;
           }
        
      }
@media (min-width:475px) and (max-width: 600px) {
  .ch-heading{
  
    font-weight: 600;
    font-size: 38px;
  }
  .btns{
      width: 100%;
      height:130px;
      /* border: 1px green solid; */
    }
    .ludo-home{
        flex-direction: column;
        width: 95%;
        margin: 20px 0px 0px 2.5% ;
        height:900px;
        padding: 0;
    }
    .outer-box{
      width:100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 100px;
      grid-auto-rows: 300px;
    }
    .contnr{
      width:100%;
      height:695px;
      flex-direction:column; 
      padding:0;
     
    }
    .container1{
      height: 480px;
      width: 480px;
      background-color: aqua;
      display: flex;
      flex-direction: column;
    }
    .red{
      background-color: red;
      height: 192px;
      width: 192px;
    }
    .blue{
      background-color: blue;
      height: 192px;
      width: 192px;
    }
    .green{
      background-color: green;
      height: 192px;
      width: 192px;
    }
    .yellow{
      background-color: rgb(255, 208, 0);
      height: 192px;
      width: 192px;
    }
    .btn-cont{
      margin:0px; 
      height:100px;
      display:grid;
      grid-gap: 150px;
      grid-template-columns: 1fr 1fr;
    }
    .btnn{
      height:100px;
    }
    .topgrid {
      display: grid;
      grid-template-columns: repeat(3, 32px);
      grid-template-rows: repeat(6, 32px);
      background-color: palegreen;
    
    }
    
    .middlegrid {
      display: grid;
      grid-template-columns: repeat(6, 32px);
      grid-template-rows: repeat(3, 32px);
      background-color: palegreen;
    }    
    .white{
      height: 128px;
      width: 128px;
      background-color: white;
      margin-top: 32px;
      margin-left: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .home{
      height: 96px;
      width: 96px;
      background-color: brown;
    }
    
    .cell {
      width: 32px;
      height: 32px;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;}
      .red1{
        height: 32px;
        width: 32px;
        }
        .green1{
          height: 32px;
          width: 32px;
         }
         .blue1{
          height: 32px;
          width: 32px;
         }
         .yellow1{
          height: 32px;
          width: 32px;
         }
      
    }
@media (max-width: 475px) {

  .ch-heading{
  
    font-weight: 600;
    font-size: 38px;
  }
  .btns{
      width: 100%;
      height:130px;
      /* border: 1px green solid; */
    }
    .ludo-home{
        flex-direction: column;
        width: 95%;
        margin: 20px 0px 0px 2.5% ;
        height:900px;
        padding: 0;
    }
    .outer-box{
      width:100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 100px;
      grid-auto-rows: 300px;
    }
    .contnr{
      width:100%;
      height:695px;
      flex-direction:column; 
      padding:0;
     
    }
    .container1{
      height: 375px;
      width: 375px;
      background-color: aqua;
      display: flex;
      flex-direction: column;
    }
    .red{
      background-color: red;
      height: 150px;
      width: 150px;
    }
    .blue{
      background-color: blue;
      height: 150px;
      width: 150px;
    }
    .green{
      background-color: green;
      height: 150px;
      width: 150px;
    }
    .yellow{
      background-color: rgb(255, 208, 0);
      height: 150px;
      width: 150px;
    }
    .btn-cont{
      margin:0px; 
      height:100px;
      display:grid;
      grid-gap: 150px;
      grid-template-columns: 1fr 1fr;
    }
    .btnn{
      height:100px;
    }
    .topgrid {
      display: grid;
      grid-template-columns: repeat(3, 25px);
      grid-template-rows: repeat(6, 25px);
      background-color: palegreen;
    
    }
    
    .middlegrid {
      display: grid;
      grid-template-columns: repeat(6, 25px);
      grid-template-rows: repeat(3, 25px);
      background-color: palegreen;
    }    
    .white{
      height: 100px;
      width: 100px;
      background-color: white;
      margin-top: 25px;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .home{
      height: 75px;
      width: 75px;
      background-color: brown;
    }
    
    .cell {
      width: 25px;
      height: 25px;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;}
      .red1{
        height: 25px;
        width: 25px;
        }
        .green1{
          height: 25px;
          width: 25px;
         }
         .blue1{
          height: 25px;
          width: 25px;
         }
         .yellow1{
          height: 25px;
          width: 25px;
         }
      
    
}
