.user-bdy{
    /* background-color:#F9D689;; */
    position: relative;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}
#gameBoard {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
}
#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.user-ch-box{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
}
.ch-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  color: #f0f0f0; /* Light or white text color */
  text-align: center;
  text-transform: uppercase;
}

.ch-btn{
    margin-top: 10px;
    width:400px;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    display: block;
}
.ch-btn:hover {
  background: rgba(0, 0, 0, 0.7); /* Less transparent on hover */
  color: #f0f0f0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.ch-btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3), 0 0 80px rgba(255, 255, 255, 0.1);
}

#switch-container {
    margin: 1rem 0;
    display: inline-block;
    margin-right: 30px;
  }
  
  #sound-off-icon,
  #sound-on-icon {
    z-index: 0;
    position: absolute;
  }
  
  #sound-off-icon {
    top: 9px;
    right: 7px;
  }
  
  #sound-on-icon {
    top: .5rem;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch:before input { 
    content: "switch";
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  input:before {
    content: "input";
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);;  /* light gray */
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:  rgba(255, 255, 255, 0.5); /* blue */
  }
  
  input:focus + .slider {
    /* blue */
    box-shadow: 0 0 1px #2196F3; /* blue */
  }
  
  input:checked + .slider:before {
    content: "";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* give the button rounded edges */
  /* for square edges, remove these values */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* -----
  SVG Icons - svgicons.sparkk.fr
  ----- */
  
  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #fff;
  }
  
  .svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
  }
  .ludo-home{
    display:flex;
    flex-direction:row;
   justify-content: center;
    width: 100%;
    border: 1px red solid;
    height: 600px;
  }

  
  .outer-box{
    width:95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 90px;
    grid-auto-rows: 300px;
    margin:auto;
  }
  .boxx{
    border: 1px black solid;
  }
  
  .btns{
    width: 20%;
    height:600px;
    border: 1px green solid;
  }


   

  /* for responsive website */

  @media (max-width: 768px) {
}
@media (max-width: 510px) {
  .ch-heading{
  
    font-weight: 600;
    font-size: 38px;
  }
  .btns{
      width: 100%;
      height:130px;
      border: 1px green solid;
    }
    .ludo-home{
        flex-direction: column;
        width: 95%;
        margin: 30px 0px 0px 2.5% ;
        height:940px;

    }
    .outer-box{
      width:100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 100px;
      grid-auto-rows: 300px;
    }
}
